*.py[co]
__pycache__/
frontend/.eslintcache
.ipynb_checkpoints

# the frontend static build:
app/

build/
dist/
*.egg-info/
MANIFEST

.env
venv/
.venv/

# pytest-cov
.coverage
htmlcov/

# generated yaml
k8s/*.yaml

.vscode/